@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 243, 243);
}
.calc-container {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}
.calculator{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(7, 100px);
    border: 6px solid black;
    border-radius: 10px;
    height: 700px;
    width: 600px;
    background-color: rgb(15, 15, 15);
}
.calculator > #display{
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    height: 200px;
    width: 600px;
    font-size: 60px;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.button-container{
    width: 500px;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 1;
}



.button.zero{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 300px;
}

.button.operator{
    background-color: rgb(214, 176, 51);
}
.button.c{
    background-color: rgb(214, 176, 51);
}
.button.tbd{
    background-color: rgb(214, 176, 51);
}
.button{
    color: white;
    background-color: rgb(54, 54, 54);
    font-size: 3rem;
    height: 100px;
    width: 150px;
    border-radius: 5px;
}

.clicked-operator{
    background-color: rgb(255 230 147);
    transform: scale(0.97);
}
.clicked-numButton{
    background-color: rgb(114 114 114);
    transform: scale(0.97);
}